<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
    <title>Finances | Budget</title>
</head>
<body>
    {{ nav|safe }}
    <div>
        <a href="/">Home</a>
    </div>

    <br>

    <div>
        {% if year %}
            <a href="/ledgers">Back</a>
            <br>
            <br>
        {% endif %}

        <form id="add-ledger" method="GET" action="/add_ledger">
            <button>Add A New Ledger</button>
        </form>

        <table>
            {% for i in Years %}
                <tr><td>
                    <form id="load-year" method="GET" action="/ledgers">
                        <input type="hidden" name="year" value="{{ i }}">
                        <button>{{ i }}</button>
                    </form>
                </td></tr>
            {% endfor %}
            {% for i in Months %}
                <tr><td>
                    <form id="load-month" method="GET" action="/ledgers">
                        <input type="hidden" name="year" value="{{ year }}">
                        <input type="hidden" name="month" value="{{ i }}">
                        <button>{{ i }}</button>
                    </form>
                </td></tr>
            {% endfor %}
        </table>
        
    </div>
    
</body>
</html>