<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
    <title>Finances | Budget</title>
</head>
<body>
    {{ header['nav']|safe }}
    <div>
        <a href="/">Home</a>
    </div>

    <br>

    <div>
        {% if year %}
            <a href="/ledgers">Back</a>
            <br>
            <br>
        {% endif %}

        <h2>Add/Find Ledger:</h2>
        <form id="add-ledger" method="post" action="/ledgers/add_ledger">
            <input type="month" name="date" required>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>
        <h2>List of Ledgers:</h2>
        <table>    
            {% for i in Years %}
                <tr><td>
                    <form id="load-year" method="GET" action="/ledgers"></form>
                        <input type="hidden" name="year" value="{{ i }}">
                        <button>{{ i }}</button>   
                    </form>
                </td></tr>
            {% endfor %}
        </table>
        <table>
            <form id="load-month" method="GET" action="/ledgers"></form>
                {% for i in Months %}
                    <tr><td>
                        <input type="hidden" name="year" value="{{ year }}">
                        <input type="hidden" name="month" value="{{ i }}">
                        <button>{{ i }}</button>
                    </td></tr>
                {% endfor %}
            </form>
        </table>
        
    </div>
    
</body>
</html>